.container {
  height: 100%;
  width: 100%;
  background-color: var(--background-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 0 20px;

  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.container:focus,
.container:hover {
  outline: 2px solid var(--text);
}

.container::placeholder {
  color: var(--hint);
}

@media (max-width: 1023px) {
  .container {
    padding: 0 10px;
    font-size: 12px;
  }
}