.input {
  height: 100%;
  width: 100%;
  background-color: var(--background-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 0 20px;

  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.input:focus,
.input:hover {
  outline: 2px solid var(--text);
}

.input::placeholder {
  color: var(--hint);
}