.container {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 100%;
  background-image: var(--button);
  border-radius: var(--border-radius);
  padding: 0 20px;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow)
}

.container:focus,
.container:hover {
  outline: 2px solid var(--text);
}

@media (max-width: 1439px) {

}

@media (max-width: 1023px) {
  .container {
    font-size: 14px;
    padding: 0 10px;
  }
}
