.container {
  padding: 20px;
  width: 100%;
  resize: none;
  border: none;
  overflow: hidden;
  border-radius: var(--border-radius);
  background: var(--background-white);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  font-size: 18px;
  font-weight: 300;
  color: var(--text);
  transition: height 0.5s ease-in-out;
}

.container::placeholder {
  color: var(--hint);
  font-size: inherit;
  font-weight: inherit;
}

.container:focus,
.container:hover {
  outline: 2px solid var(--text);
}

@media (max-width: 1023px) {
  .container {
    padding: 12px;
    font-size: 14px;
  }
}
