.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  font-size: 20px;
  line-height: 20px;
}

.container > svg {
  width: 20px;
  height: 20px;
}

.container:hover,
.container:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1023px) {
  .container {
    min-height: 25px;
    font-size: 18px;
    line-height: 18px;
  }
  
  .container > svg {
    width: 18px;
    height: 18px;
  }
}