.container {
  min-height: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.container > svg {
  width: 24px;
  height: 24px;
}

.container:hover,
.container:focus {
  background-color: rgba(0, 0, 0, 0.1);
}