.option {
  min-height: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.option > svg {
  width: 24px;
  height: 24px;
}

.option:hover,
.option:focus {
  background-color: rgba(0, 0, 0, 0.1);
}