.container {
  display: grid;
  grid-template-rows: 60px 1fr;
  gap: 40px;
}

.form {
  display: flex;
  gap: 20px;
  position: relative;
}

.submit-btn {
  min-width: 60px;
}

.submit-btn svg {
  width: 19px;
  height: 19px;
}

.feedback {
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  position: absolute;
  bottom: -10px;
  transform: translateY(100%);
  left: 20px;
}

@media (max-width: 1439px) {
  .feedback {
    color: var(--background-white);
  }
}

@media (max-width: 1023px) {
  .container {
    display: grid;
    grid-template-rows: 40px 1fr;
    gap: 20px;
  }

  .submit-btn {
    min-width: 40px;
  }

  .feedback {
    font-size: 14px;
    line-height: 14px;
    bottom: -5px;
    left: 10px;
  }
}
