:root {
  --background: #fdfcf3;
  --background-white: #fff;
  --bg-note: rgba(255, 255, 255, 0.90);
  --text: #1e2022;
  --hint: #acacac;
  --hint-2: #999;
  --button: linear-gradient(137deg, #fff76a 31.13%, #ffce89 100%);
  --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
  --modal-bg: linear-gradient(113deg, #FFF 0%, #F0F0F0 99.94%);
  --modal-overlay-color: 50, 47, 40; /* rgba */
  --modal-overlay-blur: blur(5px);
}
