.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  background-color: transparent;
  border-radius: var(--border-radius);
}

.container:focus,
.container:hover {
  outline: 2px solid var(--text);
}

.icon {
  --size: 60px;
  height: var(--size);
  width: var(--size);
  padding: calc(13 / 60 * var(--size));
  background-image: var(--button);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.text {
  font-size: 36px;
  font-weight: 700;
  color: var(--text);
  text-shadow: var(--shadow);
}

@media (max-width: 1023px) {
  .container {
    gap: 12px;
  }

  .icon {
    --size: 40px;
  }

  .text {
    font-size: 24px;
  }
}
