.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 60px;
  gap: 0 120px;
  padding: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--background);
}

.search {
  display: flex;
  gap: 20px;
}

.search__selector {
  min-width: 100px;
}

.btn-edit {
  width: 225px;
}

.btn-edit svg {
  height: 24px;
  width: 24px;
}
