.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 60px;
  gap: 0 120px;
  margin-top: 40px;
}

.header__search {
  display: flex;
  gap: 20px;
}

.search__input {
  min-width: 550px;
  max-width: 550px;
}

.search__selector {
  min-width: 100px;
}

.header__btn-edit {
  width: 225px;
}

.header__btn-edit svg {
  height: 24px;
  width: 24px;
}
