@import './styles/fonst.css';
@import './styles/normalize.css';
@import './styles/nullstyles.css';
@import './styles/variables.css';

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
}

#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  background-color: var(--background);
}
