.container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.container:focus::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--text);
  outline-offset: -2px;
  border-radius: 10px;
}

.moodStatus {
  font-size: 18px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--bg-note);
  position: absolute;
  right: 14px;
  top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  width: 100%;
  height: 85px;
  padding: 10px 15px;
  background-color: var(--bg-note);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleRow {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.title,
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.title {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  color: var(--text);
  font-size: 18px;
  font-weight: 900;
  flex-grow: 1;
}

.date {
  color: var(--hint-2);
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
}

.description {
  line-clamp: 2;
  -webkit-line-clamp: 2;
  font-size: 14px;
  font-weight: 300;
  color: var(--text);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: transform 0.5s;
}

.container:hover > .background-image,
.container:active > .background-image,
.container:focus > .background-image {
  transform: scale(1.25);
}

@media (max-width: 1023px) {
  .date,
  .description {
    font-size: 12px;
  }
}